<a href="https://colab.research.google.com/github/prathima2707/index.js/blob/main/Chance_of_Admission_for_Higher_Studies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd

In [20]:
e=pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Admission%20Chance.csv')

In [21]:
e.info

<bound method DataFrame.info of      Serial No  GRE Score  TOEFL Score  University Rating   SOP  LOR   CGPA  \
0            1        337          118                  4   4.5   4.5  9.65
1            2        324          107                  4   4.0   4.5  8.87
2            3        316          104                  3   3.0   3.5  8.00
3            4        322          110                  3   3.5   2.5  8.67
4            5        314          103                  2   2.0   3.0  8.21
..         ...        ...          ...                ...   ...   ...   ...
395        396        324          110                  3   3.5   3.5  9.04
396        397        325          107                  3   3.0   3.5  9.11
397        398        330          116                  4   5.0   4.5  9.45
398        399        312          103                  3   3.5   4.0  8.78
399        400        333          117                  4   5.0   4.0  9.66

     Research  Chance of Admit
0           1              0.92
1           1              0.76
2           1              0.72
3           1              0.80
4           0              0.65
..        ...               ...
395         1              0.82
396         1              0.84
397         1              0.91
398         0              0.67
399         1              0.95

[400 rows x 9 columns]>

In [22]:
e.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [23]:
e.describe()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [24]:
e.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [26]:
y=e['Chance of Admit ']

In [28]:
x=e.drop(['Serial No','Chance of Admit '],axis=1)

In [30]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.7, random_state=2529)

In [32]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((280, 7), (120, 7), (280,), (120,))

In [33]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [34]:
model.fit(x_train,y_train)

LinearRegression()

In [35]:
model.intercept_

-1.2831244932033998

In [36]:
model.coef_

array([ 0.00204057,  0.00287273,  0.00566887, -0.00380559,  0.01973175,
        0.11314449,  0.02061553])

In [37]:
y_pred = model.predict(x_test)

In [38]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [39]:
mean_absolute_error(y_test,y_pred)

0.04400128934232651

In [40]:
mean_absolute_percentage_error(y_test,y_pred)

0.07575278864605438

In [41]:
mean_squared_error(y_test,y_pred)

0.004038263715495693